@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR&family=Montserrat:wght@300&display=swap');
.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    text-shadow: none;
    padding: 0;
    font-family: 'IBM Plex Sans KR', sans-serif;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 1700px;
    text-shadow: none;
    /* width: 100%; */
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-right: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-shadow: none;
  }

  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-left: 300px;

  }

  .hmig {
    margin-left: 50px;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    text-shadow: none;
    font-size: 1.3rem;
    width: 100px;
   
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  


  .wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
    font-weight: 600;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  #tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
  }
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-section {
    position: relative;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;

  }
  
  .home-content {
    padding: 3rem 0 0rem !important;
    color: #414141;
    text-align: left;
  }
  
  .heading-description {
    margin-left: 20px !important;
    max-width: 500px;
    font-size: 1.25rem;
    font-weight: 400;
  }
  .heading-type {
    padding-left: 15px;
    text-align: "left";
  }
  
  .heading {
    font-size: 2.4em !important;
    padding-left: 20px !important;
  }
  
  .heading-name {
    font-size: 2.5em !important;
    padding-left: 20px !important;
  }
  
  .main-name {
    color: #414141;
  }
  .homecont {
    margin-left: 50px;
    margin-right: 160px;
  }
  .Typewriter__wrapper {
    font-size: 2.2em !important;
    color: #414141 !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: #414141 !important;
  }
  
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.4em !important;
      font-weight: 600 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
  }
  
  .myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
  }
  
  @media (max-width: 767px) {
    .myAvtar {
      padding-top: 2em !important;
      padding-bottom: 2em !important;
    }
  }
  
  .home-about-section {
    position: relative;
    padding-bottom: 70px !important;
  }
  
  .home-about-description {
    color: #414141 !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
    
  }
  
  .home-about-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
  }
  
  .home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: #414141 !important;
  }
  
  .home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
  }
  
  .home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: #343e47 !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
    border: 1px solid #343e47;
  }
  
  .home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #5b585c;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }
  
  .home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #414141;
  }
  
  .home-social-icons:hover {
    color: #414141;
    box-shadow: 0 0 5px #414141;
    text-shadow: 0 0 2px #414141;
  }
  
  .social-icons {
    display: inline-block !important;
    padding-left: 15px;
    height: 60px;
  }
  
  .icon-colour {
    color: #ffffff !important;
  }
  
  .social-icon {
    margin-top: 13px;
    margin-left: 14px;
    width: 30px;
    height: 30px;
    
  }


.profile-pic {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin-bottom: 50%;
  margin-right: 40%;
  
  
}

  .home {
    display: flex;
    margin-top: 180px;
    margin-left: 20px;
    margin: auto;
  }

  .homeimg {
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 50px;
    max-height: 300px;
    max-width: 300px;
  }

  .homefoot {
    margin: auto;
  }

.hmig {
  
}